<<<<<<< HEAD
body { background-color: green;
      
	
=======
body {
    background-color: green;
>>>>>>> e94dcd658f31a04c6df5bff1fe4e6e8567c07986

}

.button:hover {
    background-color: red;
}

@font-face {
    font-family: DigiFont;
    src: url(digital-7.ttf);
}

.button {
    width: 20%;
    background-color: #0E2307;
    margin: 10px;
    float: left;
    cursor: pointer;
    border: solid;
    border-color: yellow;
    border-radius: 40px 40px;

    color:White;
    font-size: 120%;
    font-weight: bold;


    text-align: center;
}

#button {
    background-color: red;
}

#calculatorcontent {
    margin: auto;
    padding: 20px;
    background-image: url('button.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 300px;
    height: 300px;
    background-color:;
    border: solid black;
    border-radius: 20px 20px;

}

#display {


	Background-color: black;
	border: solid orange;
	border-radius: 5px 5px;
	padding: 5px;
	padding-right: 10px;
	text-align:right;
	font-family : "DigiFont";
	color: yellow;
	Font-size: 200%;

}