
body {
    background-color: black;
    padding-top: 10%;
}

.button:hover {
    background-color: red;
}

@font-face {
    font-family: DigiFont;
    src: url(digital-7.ttf);
}

.button {
    
    width: 45px;
    height: 40px;
    background-color: #0E2307;
    margin: 10px;
    float: left;
    cursor: pointer;
    border: solid;
    border-color: yellow;
    border-radius: 10px 10px;
    color:White;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
	
	-webkit-box-shadow: 0px 9px 0px #84261a;
        -moz-box-shadow: 0px 9px 0px #84261a;
        box-shadow: 0px 9px 0px #84261a;



-webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */


}

.button:active{
    -webkit-box-shadow: 0px 2px 0px #84261a;
    -moz-box-shadow: 0px 2px 0px #84261a;
    box-shadow: 0px 2px 0px #84261a;
    position:relative;
    top:7px;}

.buttoncontent {

	padding: 5px;
	color:white;
}

#button {
    background-color: red;
}

#calculatorcontent {
    margin: auto;
    padding: 20px;
    background-image: url('leather.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 300px;
    height: 300px;
    background-color:;
    border: solid black;
    border-radius: 20px 20px;


}

#display {


	Background-color: black;
	border: solid orange;
	border-radius: 5px 5px;
	padding: 5px;
	padding-right: 10px;
	text-align:right;
	font-family : "DigiFont";
	color: yellow;
	Font-size: 200%;

}