h3 {
    text-align: center;
    font-weight: bold;
}

.button:hover {
    background-color: red;
}

@font-face {
    font-family: DigiFont;
    src: url(digital-7.ttf);
}

.button {
    box-sizing:border-box;
    width: 45px;
    height: 40px;
    background-color: #0E2307;
    margin: 15px;
    float: left;
    cursor: pointer;
    border: solid;
    border-color: darkslategray;
    color: White;
    text-align: center;
    font-size: 1.4em;
    /*Prevent the number on the button from getting selected as text by disabling selecting*/
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.button:active {
    position: relative;
    top: 5px;
}

.buttoncontent {
    padding: 5px;
    color: white;
}

#calculatorcontent {
    font-family: Arial;
    min-width: 300px;
    min-height: 300px;
    margin: auto;
    width: 300px;
    border: solid black;
}

#buttons {
    overflow: auto;
}

#display {
    Background-color: black;
    box-sizing:border-box;
    border: solid orange;
    border-width: 5px;
    padding: 5px;
    padding-right: 10px;
    font-size: 1.5em;
    text-align: right;
    color: yellow;
}

/* Slide Out Functionality*/
/*sloppy needs polishing*/

#slideout {
    margin-left: auto;
    margin-right: auto;
    width: 420px;
    text-align: center;
    position: relative;
    top: -340px;
}

#slideout-content {
    position: relative;
    min-height: 340px;
    min-width: 340px;
    height: 400px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    text-align: left;
}

#slideout:hover, #slideout:hover > #slideout-content {
    top: 0px; /*which side does the slider slides*/
}

#calculator-footer {
    color: white;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 1.3em;
}

