#slideout {
    margin-left: auto;
    margin-right: auto;
    width: 420px;
    text-align: center;
    position: relative;
    top: -340px;
}

#slideout:hover, #slideout:hover > #slideout-content {
    top: 0px; /*which side does the slider slides*/
}

#slideout-content {
    position: relative;
    height: 400px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    text-align: left;
}

#calculator-content {
    font-family: Arial;
    margin: auto;
    width: 300px;
    border: solid black;
}

#calculator-display {
    Background-color: black;
    box-sizing:border-box;
    border: solid orange;
    border-width: 5px;
    padding: 5px;
    padding-right: 10px;
    font-size: 1.5em;
    text-align: right;
    color: yellow;
}

#calculator-buttons {
    height: 280px;
    background-color: firebrick;
}

#calculator-footer {
    color: white;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 1.3em;
}

.calculator-button {
    box-sizing:border-box;
    width: 45px;
    height: 40px;
    background-color: #0E2307;
    margin: 15px;
    float: left;
    cursor: pointer;
    border: solid;
    border-color: darkslategray;
    color: White;
    text-align: center;
    font-size: 1.4em;
    /*Prevent the number on the button from getting selected as text by disabling selecting*/
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /*Set box shadow when not active*/
    -webkit-box-shadow: 0px 9px 0px #84261a;
    -moz-box-shadow: 0px 9px 0px #84261a;
    box-shadow: 0px 9px 0px #84261a;
}

.calculator-button:active {
    position: relative;
    top: 5px;
    /*Make shadow smaller and move the button down a bit to give illusion of being "pressed"*/
    -webkit-box-shadow: 0px 2px 0px #84261a;
    -moz-box-shadow: 0px 2px 0px #84261a;
    box-shadow: 0px 2px 0px #84261a;
}

.calculator-button:hover {
    background-color: red;
}

.calculator-button-content {
    padding: 5px;
    color: white;
}

